* {
  margin: 0;
  padding: 0;
}
html {
  -webkit-app-region: drag;
}

textarea {
  -webkit-app-region: no-drag;
}

body {
  height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 18px;
  border-radius: 50%;
  overflow: hidden;
}

button {
  width: 50%;
  height: 20%;
  font-size: 20px;
}
